{% extends "base.html" %}
{% load staticfiles %}
{% load listings_extras %}

{% block script %}
<link href="{% static "listings/css/new-listing.css" %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static "listings/js/new-listing.js" %}"></script>
{% endblock %}

{% block content %}
<p class="pull-right">Logged in as {{ request.user }}</p>

<form method="POST">
  {% csrf_token %}
  {{ form.errors }}
  {{ form.non_field_errors }}
  <h2>ADD A NEW LISTING</h2>
  <h3>About Your Property</h3>
  <div id="property-info" class="well">
    <div class="row">
      <div class="col-sm-8">
        <label for="id_street">Street*</label> {{ form.street|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label for="id_city">City*</label> {{ form.city|add_attributes:"class, form-control" }}
      </div>
      <div class="col-sm-3">
        <label for="id_state">State*</label> {{ form.state|add_attributes:"class, form-control" }}
      </div>
      <div class="col-sm-2">
        <label for="id_zip_code">Zip Code*</label> {{ form.zip_code|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label for="id_unit_floor">Unit Floor*</label> {{ form.unit_floor|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div>
      {{ form.lease_whole_unit }} <label for="id_lease_whole_unit">Lease Whole Unit</label><br>
      {{ form.owner_in_building }} <label for="id_owner_in_building">Owner in Building</label><br>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <label for="id_property_title">Property Title*</label> {{ form.property_title|add_attributes:"class, form-control" }}
      </div>
    </div>
    <label class="not-required" for="id_property_description">Property Descripion</label> {{ form.property_description|add_attributes:"class, form-control" }}
  </div>

  <h3>Contact Information</h3>
  <div id="contact-info" class="well">
    <div class="row">
      <div class="col-sm-4">
        <label for="id_for_rent_by">For Rent By*</label> {{ form.for_rent_by|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="id_contact_name">Contact Name*</label> {{ form.contact_name|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="id_contact_email">Email Address*</label> {{ form.contact_email|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="id_contact_phone">Phone*</label> {{ form.contact_phone|add_attributes:"class, form-control" }}
      </div>
    </div>
  </div>

  <h3>Lease Terms</h3>
  <div id="lease-terms" class="well">
    <div class="row">
      <div class="col-sm-2">
        <label for="id_lease_monthly_cost">Rent per month*</label> {{ form.lease_monthly_cost|add_attributes:"class, form-control" }}
      </div>
      <div class="col-sm-2">
        <label for="id_lease_deposit">Deposit*</label> {{ form.lease_deposit|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label for="id_date_available">Date Available*</label> {{ form.date_available|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label for="id_lease_duration">Lease Duration*</label> {{ form.lease_duration|add_attributes:"class, form-control" }}
      </div>
      <div class="col-sm-8" id="lease_duration_custom">
        <label class="not-required">Lease Duration Detail</label> {{ form.lease_duration_custom|add_attributes:"class, form-control" }}<br>
      </div>
    </div>
    <label class="not-required" for="id_additional_lease_terms">Additional Lease Terms</label> {{ form.additional_lease_terms|add_attributes:"class, form-control" }}
  </div>

  <h3>Rental Details</h3>
  <div id="rental-details" class="well">
    <div class="row">
      <div class="col-sm-2">
        <label for="id_property_type">Property Type*</label> {{ form.property_type|add_attributes:"class, form-control" }}
      </div>
      <div class="col-sm-2">
        <label class="not-required" for="id_unit_sqft">Unit Area (sqft)</label> {{ form.unit_sqft|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label for="id_bedroom_count">Bedrooms*</label> {{ form.bedroom_count|add_attributes:"class, form-control" }}
      </div>
      <div class="col-sm-2">
        <label for="id_bathroom_count">Bathrooms*</label> {{ form.bathroom_count|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label for="id_furnished">Furnished*</label> {{ form.furnished|add_attributes:"class, form-control" }}
      </div>
      <div id="furnished_details" class="col-sm-8">
        <label class="not-required" for="id_furnished_details">Furnished Detail</label> {{ form.furnished_details|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label for="id_pet_allowed">Pets Allowed*</label> {{ form.pet_allowed|add_attributes:"class, form-control" }}
      </div>
    </div>

    <h4>Utilities Included</h4>
    {{ form.is_water_included }} <label for="id_is_water_included">Water</label><br>
    {{ form.is_electricity_included }} <label for="id_is_electricity_included">Electricity</label><br>
    {{ form.is_heat_included }} <label for ="id_is_heat_included">Heat</label><br>
    {{ form.is_internet_included }} <label for ="id_is_internet_included">Internet</label><br>
    {{ form.is_cable_included }} <label for="id_is_cable_included">Cable</label><br>

    <h4>Amenities Included</h4>
    <div class="row">
      <div class="col-sm-3">
        <label for="id_laundry_type">Laundry*</label> {{ form.laundry_type|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label for="id_cooling">Cooling*</label> {{ form.cooling|add_attributes:"class, form-control" }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label for="id_parking_space_count">Parking Space*</label> {{ form.parking_space_count|add_attributes:"class, form-control" }}
      </div>
      <div class="col-sm-3">
        <label for="id_parking_type">Parking Type</label> {{ form.parking_type|add_attributes:"class, form-control" }}
      </div>
    </div>
    {{ form.has_dishwasher }} <label for="id_has_dishwasher">Dishwasher</label><br>
    {{ form.has_microwave }} <label for="id_has_microwave">Microwave</label><br>
    {{ form.has_fridge }} <label for="id_has_fridge">Fridge</label><br>
    {{ form.has_garbage_disposal }} <label for="id_has_garbage_disposal">Garbage disposal</label>
  </div>
  <p>Make sure you activate the listing after submission.</p>
  <button type="submit" class="btn btn-primary btn-custom">Submit</button>
{% endblock %}
