select {
    width: auto !important;
}

#filters {
    margin-bottom:
}

.form-control-custom: {
    margin-right: auto;
    display: inline-block !important;
}

.panel {
    margin-top: 20px;
}

.panel-default > .panel-heading-custom {
  background-color: #ffffff;
}

#listing-index-title {
  color: #337ab7;
}

.pagination {
    margin: auto;
}

.panel-body-listing-item {
  font-size: 13px;
  padding-bottom: 3px;
}
