.well {
    background-color: #ffffff;
}

.form-control-custom {
  margin-top: auto;
  margin-bottom: auto;
}

.form-control-custom:focus {
    border:1px solid #1b307b;
}

.btn-custom,
.btn-custom:hover {
    background-color: #1b307b;
}

a {
    color: #1b307b;
}

.forgot-password {
    padding-top: 8px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-bottom: 20px;
}
