select {
    width: auto !important;
}

.btn-custom,
.btn-custom:hover {
    background-color: #1b307b;
}

.form-control-custom: {
    margin-right: auto;
    display: inline-block !important;
}

.panel {
    margin-top: 20px;
}

.panel-default > .panel-heading-custom {
  background-color: #ffffff;
}

#listing-index-title {
  color: #337ab7;
}

.panel-body-listing-item {
  font-size: 13px;
  padding-bottom: 3px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #1b307b;
    border-color: #1b307b;
}

.pagination {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
