{% extends "base.html" %}
{% load staticfiles %}

{% block script %}
<link href="{% static "listings/css/profile.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<p class="pull-right">Logged in as {{ request.user }}</p>
<h3>My Listings</h3>
<span class="pull-right">
  <a href="/listing/new/" class="btn btn-primary">Create New Listing</a>
</span>

{% if listings %}
<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Property Address</th>
      <th>City</th>
      <th>Edit</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for listing in listings %}
    <tr>
      <td>
        {% if listing.is_active %}
        <strong>Active</strong>
        {% else %}
        <strong>Inactive</strong>
        {% endif %}
      </td>

      <td>
        <a href="{% url "listings:detail" listing.id %}">
          {{ listing.street }}
        </a>
      </td>

      <td> {{ listing.city }}, {{ listing.state }}</td>

      <td>
        <a href="" class="btn btn-primary">Edit</a>
      </td>

      <td>
        {% if listing.is_active %}
        <form class="" action="/accounts/profile/" method="post">{% csrf_token %}
          <button name="listing-to-be-changed" class="btn btn-danger"
            value="{{ listing.id }}" type="submit">Deactivate</button>
        </form>
        {% else %}
        <form action="/accounts/profile/" method="post">{% csrf_token %}
          <button name="listing-to-be-changed" class="btn btn-success"
            value="{{ listing.id }}" type="submit">Activate</button>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>

{% else %}
<p>You do not have any listing,
  <a href="/listing/new/">click to Create S New Listing.</a>
</p>
{% endif %}
{% endblock %}
